@import 'bootstrap-icons/font/bootstrap-icons.css';

.link{
font-size: 18px;
 padding: 5px; 
 margin: 10px;
 text-decoration: none;
 font-weight: 700;
 color: white;
}

i{ 
    padding: 4px;
    font-size: 20px;
    color: white;
}

.text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @keyframes text-focus-in  {
    0% {
      filter: blur(12px);
      opacity: 0;
      -webkit-filter: blur(12px);
}
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  